# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ProjectMythe-Game.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\SchoolProjects\ProjectMythe\ProjectMythe-Game\.idea\.idea.ProjectMythe-Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
